.tabicon-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 4px 8px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
}

.tabicon-favicon {
  width: 12px;
  height: 12px;
}